.SubmitModal {
  &__btn {
    position: absolute;
    bottom: 25px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    background: none;
    border: 2px solid $successColor;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
    color: $successColor;

    &:hover {
      background: $successColor;
      color: $textColor;
    }
  }

  &__items {
    overflow: auto;
    height: 170px;

    p {
      text-transform: capitalize;
    }
  }
}
