@import "../../../styles/variables.scss";

.ChangePassword {
  height: 100%;
  position: relative;

  &__title {
    margin-top: 0;
    border-bottom: 1px solid $basicColorBright;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid $basicColorBright;
    padding: 20px 0;

    div {
      display: flex;
      height: 30px;
      width: 100%;
      margin-bottom: 20px;
      align-items: center;
      justify-content: center;
    }
  }

  label {
    flex: 2;
  }

  input {
    flex: 3;
    height: 100%;
    padding: 10px;

    &:focus {
      border: 1.5px solid $errorColorBG;
      outline: none;
    }
  }
}
