@import "../../../styles/variables.scss";

.wrapper {
  height: 100%;
  position: relative;

  label {
    flex: 2;
  }

  input {
    flex: 3;
    height: 100%;
    padding: 10px;

    &:focus {
      border: 1.5px solid $errorColorBG;
      outline: none;
    }
  }
}

.title {
  margin-top: 0;
  border-bottom: 1px solid $basicColorBright;
}
.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid $basicColorBright;
  padding: 20px 0;

  div {
    display: flex;
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
}

.btn {
  height: 40px;
  background: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.changePassword {
  border: 2px solid $updateColor;
  color: $updateColor;

  &:hover {
    background: $updateColor;
    color: $textColor;
  }
}
