@import "../../../styles/variables.scss";

.ProductsPage {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
  }

  &__sort-container {
    flex: 1;
    border-right: 1px solid $basicColor;
    padding-right: 5px;
  }

  &__sort {
    h3 {
      font-weight: bold;
    }
    h4 {
      width: 80px;
      margin-right: 20px;
    }
    &_field {
      display: flex;
      align-items: center;
    }
  }

  &__products {
    flex: 3;
  }
}
