@import "../../styles/variables.scss";
/*

.Checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  transition: all 150ms;
  transition: all 0.3s ease-in-out;
  outline: none;

  &:focus {
    outline: none;
  }

  &:hover {
    border-color: $basicColor;
    cursor: pointer;
  }
}
 */

.Checkbox {
  display: flex;
  cursor: pointer;
  user-select: none;

  &__circle {
    &_outer {
      width: 18px;
      height: 18px;
      min-width: 18px;
      min-height: 18px;
      border: 2px solid $basicColor;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 12px;
      transition: all 0.1s linear;
    }

    &_inner {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $basicColor;
      transition: all 0.1s linear;
    }
  }

  &__label {
    color: $basicColor;
    padding-right: 8px;
  }
}

.unselected {
  border: 2px solid $basicColor;
}
.unselected-circle {
  width: 0;
  height: 0;
}
