@import "../../../styles/variables.scss";

.ProfilePage {
  display: flex;

  &__avatar {
    flex: 1;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex: 3;
    padding-left: 20px;
    border-left: 1px solid $basicColor;
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      text-transform: capitalize;
      font-weight: bold;
      height: 100%;
      align-items: center;
      width: 70px;
    }

    input {
      margin-left: 20px;
      height: 80%;
      width: 40%;
      border-radius: 5px;
      border: 1px solid $basicColor;
      padding: 5px;
    }
  }

  &__field {
    display: flex;
    align-items: center;
    height: 40px;
  }

  &__controls {
    display: flex;
    width: 55%;
    justify-content: space-around;
    margin-top: 20px;
  }

  &__btn {
    height: 40px;
    background: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;

    &_save {
      border: 2px solid $successColor;
      color: $successColor;

      &:hover {
        background: $successColor;
        color: $textColor;
      }
    }

    &_changePassword {
      border: 2px solid $updateColor;
      color: $updateColor;

      &:hover {
        background: $updateColor;
        color: $textColor;
      }
    }
  }
}
