@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

body {
  font-family: "OpenSans-Regular", sans-serif;
  color: $basicColor;
}

.container {
  max-width: 1400px;
  padding: 20px;
  height: 100%;
  position: relative;
}
