$basicColor: #575e72;
$basicColorBright: #6d7385;
$textColor: #fafbfd;
$highlightColor: #ffc107;
$successColor: #02b111;
$updateColor: #027ab1;
$errorColorBG: rgb(158, 28, 21);
$errorColor: rgb(250, 179, 174);
$infoColorBG: rgb(3, 14, 24);
$infoColor: rgb(166, 213, 250);

//fonts
$headerFontSize: 20px;
$mainFontSize: 18px;

//paddings
$mainPadding: 20px;
