@import "../../../styles/variables.scss";

.Header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  padding: $mainPadding;
  align-items: center;
  background-color: $basicColor;

  &__title {
    font-size: $headerFontSize;
    flex: 2;
    color: $textColor;
  }

  &__signIn {
    display: flex;
    flex-direction: column;
    margin-left: 10%;

    button {
      font-size: 16px;
      background: none;
      border: none;
      outline: none;
      margin: 0;
      display: inline;
      height: 100%;
      font-family: "OpenSans-Regular", sans-serif;
      cursor: pointer;
      color: $textColor;
      padding: 5px;

      &:hover {
        background: $basicColorBright;
        border-radius: 5px;
      }
    }
  }

  &__userName {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    display: inline;
    height: 100%;
    font-family: "OpenSans-Regular", sans-serif;
    color: $textColor;
    text-align: center;
  }
}
