@import "../../../styles/variables.scss";

.Header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  padding: $mainPadding;
  align-items: center;
  background-color: $basicColor;

  &__title {
    font-size: $headerFontSize;
    flex: 2;
    color: $textColor;
  }
}
