@import "../../../styles/variables.scss";

.wrapper {
  position: absolute;
  width: 140px;
  background: $basicColor;
  z-index: 2;
  padding: 3px;
  top: 38px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  color: $textColor;
  transition: all 0.3s ease-out;
  text-transform: capitalize;

  &:hover {
    background: $basicColorBright;
  }
}

.icon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
