@import "../../styles/variables.scss";

.Select {
  display: inline-block;
  width: 140px;
  text-align: center;
  position: relative;
  height: 80%;
  &__text {
    padding: 6px 10px;
    border: 1px solid $basicColor;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 16px;
      border: 7px solid transparent;
      border-color: $basicColor transparent transparent transparent;
    }

    &_active {
      &::after {
        top: 8px;
        border-color: transparent transparent $basicColor transparent;
      }
    }
  }

  &__options {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  &__option {
    text-transform: capitalize;
    list-style-type: none;
    padding: 6px 20px;
    background: $basicColor;
    border-bottom: 1px solid $basicColorBright;
    color: $textColor;
    cursor: pointer;
    &:hover {
      background-color: $basicColorBright;
    }
  }
}
