.HomePage {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 140px;
  }

  &__title {
    text-align: center;
  }

  &__controls {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
