.NavBar {
  flex: 1;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      position: relative;
    }
  }

  &__link {
    text-decoration: none;
    font-size: $mainFontSize;
    color: $textColor;
    position: relative;

    &::after {
      background: $textColor;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      top: 25px;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    &:hover::after {
      left: 0;
      width: 100%;
    }
  }
}

.active {
  &::after {
    left: 0;
    width: 100%;
  }
}
